<header>
  <div class="logo">
      <img src="/assets/images/logo.jpeg" alt="College Logo">
  </div>
  <nav>
      <ul>
          <li><a href="/index.html">Home</a></li>
          <li><a href="/pages/about.html">About Us</a></li>
          <li><a href="/pages/principal_message.html">Principal's Message</a></li>
          <li><a href="/pages/admission.html">Admission Details</a></li>
          <li><a href="/pages/staff.html">Staff</a></li>
          <li><a href="/pages/facility.html">Facilities</a></li>
          <li><a href="/pages/contact.html">Contact Us</a></li>
      </ul>
  </nav>
</header>